
<main id="main" class="main m-auto mycard">

<div class="row">
    <div class="col-4">
        <div class="card">
            <div class="nk-ecwg nk-ecwg6">
                <div class="card-inner pt-0 pb-2">
                    <div class="card-title-group">
                        <div class="card-title pt-1 pb-0">
                            <h2 class="title mb-0">Today Orders</h2>
                        </div>
                    </div>
                    <div class="data">
                        <div class="data-group">
                            <div class="amount">1,945</div>
                            <div class="nk-ecwg6-ck">
                                <canvas class="ecommerce-line-chart-s3" id="todayOrders"></canvas>
                            </div>
                        </div>
                        <div class="info"><span class="change up text-danger"><em class="icon ni ni-arrow-long-up"></em>4.63%</span><span> vs. last week</span></div>
                    </div>
                </div><!-- .card-inner -->
            </div><!-- .nk-ecwg -->
        </div><!-- .card -->
    </div><!-- .col -->
    
    <div class="col-4">
        <div class="card">
            <div class="nk-ecwg nk-ecwg6">
                <div class="card-inner pt-0 pb-2">
                    <div class="card-title-group">
                        <div class="card-title pt-1 pb-0">
                            <h2 class="title mb-0">Today Orders</h2>
                        </div>
                    </div>
                    <div class="data">
                        <div class="data-group">
                            <div class="amount">1,945</div>
                            <div class="nk-ecwg6-ck">
                                <canvas class="ecommerce-line-chart-s3" id="todayOrders"></canvas>
                            </div>
                        </div>
                        <div class="info"><span class="change up text-danger"><em class="icon ni ni-arrow-long-up"></em>4.63%</span><span> vs. last week</span></div>
                    </div>
                </div><!-- .card-inner -->
            </div><!-- .nk-ecwg -->
        </div><!-- .card -->
    </div><!-- .col -->
    
    <div class="col-4">
        <div class="card">
            <div class="nk-ecwg nk-ecwg6">
                <div class="card-inner pt-0 pb-2">
                    <div class="card-title-group">
                        <div class="card-title pt-1 pb-0">
                            <h2 class="title mb-0">Today Orders</h2>
                        </div>
                    </div>
                    <div class="data">
                        <div class="data-group">
                            <div class="amount">1,945</div>
                            <div class="nk-ecwg6-ck">
                                <canvas class="ecommerce-line-chart-s3" id="todayOrders"></canvas>
                            </div>
                        </div>
                        <div class="info"><span class="change up text-danger"><em class="icon ni ni-arrow-long-up"></em>4.63%</span><span> vs. last week</span></div>
                    </div>
                </div><!-- .card-inner -->
            </div><!-- .nk-ecwg -->
        </div><!-- .card -->
    </div><!-- .col -->
</div>

<div class="row col-12">
    <div class="col-12">
        <ul class="nav nav-tabs">
    
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#tabItem6"><em class="icon ni ni-lock-alt"></em><span>
                    تم الاستلام
                </span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tabItem7"><em class="icon ni ni-bell"></em><span>
                    لم تستلم
                </span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tabItem8"><em class="icon ni ni-link"></em><span>
                    مشاكل
                </span></a>
            </li>
        </ul>
        <div class="tab-content">
        
            <div class="tab-pane active" id="tabItem6">
                <div class="card p-2">
                    <table class="datatable table ">
                        <thead>
                          <tr>
                            <th scope="col">رقم المعاملة</th>
                            <th scope="col">تاريخ</th>
                            <th scope="col">مدفوع الي</th>
                            <th scope="col">الطيار</th>
                            <th scope="col">القيمة</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th>1</th>
                            <td>20/2/2022</td>
                            <td>الطيار</td>
                            <td>محمد</td>
                            <td>500</td>
                          </tr>
                          <tr>
                            <th>2</th>
                            <td>10/2/2022</td>
                            <td>الطيار</td>
                            <td>علي</td>
                            <td>200</td>
                          </tr>
                          <tr>
                            <th>3</th>
                            <td>7/2/2022</td>
                            <td>الطيار</td>
                            <td>محمود</td>
                            <td>100</td>
                          </tr>
                        </tbody>
                      </table>
                   </div>
            </div>
            <div class="tab-pane" id="tabItem7">
                <div class="card p-2">
                    <table class="datatable-init table ">
                        <thead>
                          <tr>
                            <th scope="col">رقم المعاملة</th>
                            <th scope="col">تاريخ</th>
                            <th scope="col">مدفوع الي</th>
                            <th scope="col">الطيار</th>
                            <th scope="col">القيمة</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th>1</th>
                            <td>20/2/2022</td>
                            <td>الطيار</td>
                            <td>محمد</td>
                            <td>500</td>
                          </tr>
                          <tr>
                            <th>2</th>
                            <td>10/2/2022</td>
                            <td>الطيار</td>
                            <td>علي</td>
                            <td>200</td>
                          </tr>
                          <tr>
                            <th>3</th>
                            <td>7/2/2022</td>
                            <td>الطيار</td>
                            <td>محمود</td>
                            <td>100</td>
                          </tr>
                        </tbody>
                      </table>
                   </div>
            </div>
            <div class="tab-pane" id="tabItem8">
                <div class="card p-2">
                    <table class="datatable-init table ">
                        <thead>
                          <tr>
                            <th scope="col">رقم المعاملة</th>
                            <th scope="col">تاريخ</th>
                            <th scope="col">مدفوع الي</th>
                            <th scope="col">الطيار</th>
                            <th scope="col">القيمة</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th>1</th>
                            <td>20/2/2022</td>
                            <td>الطيار</td>
                            <td>محمد</td>
                            <td>500</td>
                          </tr>
                          <tr>
                            <th>2</th>
                            <td>10/2/2022</td>
                            <td>الطيار</td>
                            <td>علي</td>
                            <td>200</td>
                          </tr>
                          <tr>
                            <th>3</th>
                            <td>7/2/2022</td>
                            <td>الطيار</td>
                            <td>محمود</td>
                            <td>100</td>
                          </tr>
                        </tbody>
                      </table>
                   </div>
            </div>
        </div>
    </div>
</div>

</main>

