
<main id="main" class="main m-auto mycard">

<div class="row">
    <div class="col-4">
        <div class="card">
            <div class="nk-ecwg nk-ecwg6">
                <div class="card-inner pt-0 pb-2">
                    <div class="card-title-group">
                        <div class="card-title pt-1 pb-0">
                            <h2 class="title mb-0">تم الاستلام</h2>
                        </div>
                    </div>
                    <div class="data">
                        <div class="data-group">
                            <div class="amount">6</div>
                            <div class="nk-ecwg6-ck">
                                <canvas class="ecommerce-line-chart-s3" id="todayOrders"></canvas>
                            </div>
                        </div>
                        
                    </div>
                </div><!-- .card-inner -->
            </div><!-- .nk-ecwg -->
        </div><!-- .card -->
    </div><!-- .col -->
    
    <div class="col-4">
        <div class="card">
            <div class="nk-ecwg nk-ecwg6">
                <div class="card-inner pt-0 pb-2">
                    <div class="card-title-group">
                        <div class="card-title pt-1 pb-0">
                            <h2 class="title mb-0">لم تستلم</h2>
                        </div>
                    </div>
                    <div class="data">
                        <div class="data-group">
                            <div class="amount">3</div>
                            <div class="nk-ecwg6-ck">
                                <canvas class="ecommerce-line-chart-s3" id="todayOrders"></canvas>
                            </div>
                        </div>
                       
                    </div>
                </div><!-- .card-inner -->
            </div><!-- .nk-ecwg -->
        </div><!-- .card -->
    </div><!-- .col -->
    
    <div class="col-4">
        <div class="card">
            <div class="nk-ecwg nk-ecwg6">
                <div class="card-inner pt-0 pb-2">
                    <div class="card-title-group">
                        <div class="card-title pt-1 pb-0">
                            <h2 class="title mb-0">مشاكل</h2>
                        </div>
                    </div>
                    <div class="data">
                        <div class="data-group">
                            <div class="amount">1</div>
                            <div class="nk-ecwg6-ck">
                                <canvas class="ecommerce-line-chart-s3" id="todayOrders"></canvas>
                            </div>
                        </div>
                        
                    </div>
                </div><!-- .card-inner -->
            </div><!-- .nk-ecwg -->
        </div><!-- .card -->
    </div><!-- .col -->
</div>

<div class="row col-12">
    <div class="col-12">
        <ul class="nav nav-tabs">
    
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#tabItem6"><em class="icon ni ni-lock-alt"></em><span>
                    تم الاستلام
                </span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tabItem7"><em class="icon ni ni-bell"></em><span>
                    لم تستلم
                </span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tabItem8"><em class="icon ni ni-link"></em><span>
                    مشاكل
                </span></a>
            </li>
        </ul>
        <div class="tab-content">
        
            <div class="tab-pane active" id="tabItem6">
                <div class="card p-2">
                    <table datatable [dtOptions]="dtOptions" class="row-border hover  w-100">
                        <thead>
                            <tr>
                                <th scope="col">رقم المعاملة</th>
                                <th scope="col">تاريخ</th>
                                <th scope="col">مدفوع الي</th>
                                <th scope="col">الطيار</th>
                                <th scope="col">القيمة</th>
                                <th></th>
                              </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let post of data">
                            <td>{{ post.id }}</td>
                            <td>20-1-2022</td>
                            <td>{{ post.to }}</td>
                            <td>{{ post.rider }}</td>
                            <td>{{ post.amount }}</td>
                            <td>
                                <select name="" id="">
                                    <option value="">تم الاستلام</option>
                                    <option value=""></option>
                                </select>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                   </div>
            </div>
            <div class="tab-pane" id="tabItem7">
                <div class="card p-2">
                    <table datatable [dtOptions]="dtOptions" class="row-border hover  w-100">
                        <thead>
                            <tr>
                                <th scope="col">رقم المعاملة</th>
                                <th scope="col">تاريخ</th>
                                <th scope="col">مدفوع الي</th>
                                <th scope="col">الطيار</th>
                                <th scope="col">القيمة</th>
                              </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let post of data2">
                            <td>{{ post.id }}</td>
                            <td>20-1-2022</td>
                            <td>{{ post.to }}</td>
                            <td>{{ post.rider }}</td>
                            <td>{{ post.amount }}</td>
                          </tr>
                        </tbody>
                      </table>
                   </div>
            </div>
            <div class="tab-pane" id="tabItem8">
                <div class="card p-2">
                    <table datatable [dtOptions]="dtOptions" class="row-border hover  w-100">
                        <thead>
                            <tr>
                                <th scope="col">رقم المعاملة</th>
                                <th scope="col">تاريخ</th>
                                <th scope="col">مدفوع الي</th>
                                <th scope="col">الطيار</th>
                                <th scope="col">القيمة</th>
                              </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let post of data3">
                            <td>{{ post.id }}</td>
                            <td>20-1-2022</td>
                            <td>{{ post.to }}</td>
                            <td>{{ post.rider }}</td>
                            <td>{{ post.amount }}</td>
                          </tr>
                        </tbody>
                      </table>
                   </div>
            </div>
        </div>
    </div>
</div>

</main>

