#paybody{
    padding: auto;
}
.myheader{
    height: 37px;
    background-color: rgb(222, 219, 224);
}
.leftside{
    height: 91vh;
    background-color: rgb(214, 214, 218);
}
.rightside{
    height: 91vh;
    background-color:rgb(202, 199, 199);
}
.mycontent{
    padding: 0px;
}