            <!-- sidebar @s -->

              <div class="nk-sidebar-element nk-sidebar-head">
                  <div class="nk-sidebar-brand">
                      <a href="html/index.html" class="logo-link nk-sidebar-logo">
                          <img class="logo-light logo-img" src="../../../assets/images/IT-Blocks-logo.png" srcset="./images/logo2x.png 2x" alt="logo">
                          <img class="logo-dark logo-img mr-1" style="right: 30px;" src="../../../assets/images/IT-Blocks-logo.png" srcset="./images/logo-dark2x.png 2x" alt="logo-dark">
                          <img class="logo-small logo-img logo-img-small" src="../../../assets/images/logo-small.png" srcset="./images/logo-small2x.png 2x" alt="logo-small">
                      </a>
                  </div>
                  <div class="nk-menu-trigger mr-n2">
                      <a href="#" class="nk-nav-toggle nk-quick-nav-icon d-xl-none" data-target="sidebarMenu"><em class="icon ni ni-arrow-left"></em></a>
                      <a href="#" class="nk-nav-compact nk-quick-nav-icon d-none d-xl-inline-flex" data-target="sidebarMenu"><em class="icon ni ni-menu"></em></a>
                  </div>
              </div><!-- .nk-sidebar-element -->
              <div class="nk-sidebar-element">
                  <div class="nk-sidebar-content">
                      <div class="nk-sidebar-menu" data-simplebar>
                          <ul class="nk-menu">
                            <li class="nk-menu-item has-sub">
                                <a href="#" class="nk-menu-link nk-menu-toggle" data-original-title="" title="">
                                    <span class="nk-menu-icon"><em class="icon ni ni-tile-thumb-fill"></em></span>
                                    <span class="nk-menu-text">الشركات</span>
                                </a>
                                <ul class="nk-menu-sub">
                                    <li class="nk-menu-item">
                                        <a routerLink="payment/add" class="nk-menu-link">
                                            <span class="nk-menu-icon"><em class="icon ni ni-cart-fill"></em></span>
                                            <span class="nk-menu-text">المدفوعات</span>
                                        </a>
                                    </li>
                                    <li class="nk-menu-item">
                                        <a routerLink="payment/list" class="nk-menu-link">
                                            <span class="nk-menu-icon"><em class="icon ni ni-activity-round-fill"></em></span>
                                            <span class="nk-menu-text">مراجعة المدفوعات</span>
                                        </a>
                                    </li>  
                                </ul><!-- .nk-menu-sub -->
                            </li>

                            <li class="nk-menu-item has-sub">
                                <a href="#" class="nk-menu-link nk-menu-toggle" data-original-title="" title="">
                                    <span class="nk-menu-icon"><em class="icon ni ni-tile-thumb-fill"></em></span>
                                    <span class="nk-menu-text">الشركات المدفوع لها</span>
                                </a>
                                <ul class="nk-menu-sub">
                                    <li class="nk-menu-item">
                                        <a routerLink="/company/merchant/payments" class="nk-menu-link">
                                            <span class="nk-menu-icon"><em class="icon ni ni-cart-fill"></em></span>
                                            <span class="nk-menu-text">المدفوعات</span>
                                        </a>
                                    </li>
                                    <li class="nk-menu-item">
                                        <a routerLink="/company/merchant/listtransaction" class="nk-menu-link">
                                            <span class="nk-menu-icon"><em class="icon ni ni-activity-round-fill"></em></span>
                                            <span class="nk-menu-text">تحويل الارصده</span>
                                        </a>
                                    </li>  
                                </ul><!-- .nk-menu-sub -->
                            </li>
                                                 
                          </ul><!-- .nk-menu -->
                      </div><!-- .nk-sidebar-menu -->
                  </div><!-- .nk-sidebar-content -->
              </div><!-- .nk-sidebar-element -->
