.hidedetails{
    display: none;
}
#main{
    /* padding-top: 5%; */
    padding-right: 23%;
    
}
.card .table tr:first-child th, .card .table tr:first-child td {
    min-width: 190px;
}
.card-head {
    background-color: #854fff;

}
.card-title {
    color: #fff;
}