.hidedetails{
    display: none;
}
#main{
    /* padding-top: 5%; */
    padding-right: 23%;
    
}
.card .table tr:first-child th, .card .table tr:first-child td {
    min-width: 190px;
}
.card-head {
    background-color: #7c7689;
    height: 45px;
}
.card-title {
    color: #fff;
}
.dataBinding {
    border: 1px solid #dbdfea;
    padding: 7px;
    border-radius: 3px;
}