<div class="row">
<div class="col-12 mt-3">
    <h3 class="badge badge-info mb-0 ml-1 he">Filters</h3>
    <div class="data">
        <h5 for="">Supplier : <span class="badge badge-info float-right">EgyptPost</span></h5>
        <h5 for="">Customer : <span class="badge badge-info float-right">Mac</span></h5>
        <h5 for="">DateFrom :<span class="badge badge-info float-right">22-1-2022</span> </h5>
        <h5 for="">DateTo : <span class="badge badge-info float-right">23-1-2022</span></h5>
    </div>
</div>

<div class="col-12">
    <h3 class="badge badge-white mb-0 ml-1 he" >Balances</h3>
    <div class="data">
        <h5 for="">Current Balance : <span class="badge badge-info float-right">0</span></h5>
        <h5 for="">Today : <span class="badge badge-info float-right">0</span></h5>
        <h5 for="">LastWeek : <span class="badge badge-info float-right">0</span></h5>
        <h5 for="">LastMonth : <span class="badge badge-info float-right">0</span></h5>
    </div>
</div>

<div class="col-12">
    <h3 class="badge badge-info mb-0 ml-1 he">Counters</h3>
    <div class="data">
        <h5 for="">Pending : <span class="badge badge-warning float-right">0</span></h5>
        <h5 for="">Done : <span class="badge badge-success float-right">0</span></h5>
        <h5 for="">Error : <span class="badge badge-danger float-right">0</span></h5>
        <h5 for="">Canceled : <span class="badge badge-primary float-right">0</span></h5>
        <!-- <h5 for="">Total : <span class="badge badge-info float-right">0</span></h5> -->
    </div>
</div>

</div>

