<div class="row mynav">
    <div class="col-2">
        <img src="assets/images/twerlo.jfif" style="height: 50px;" alt="">
    </div>
    <div class="col-8 m-auto">
        <div id="div_top_hypers ">
            <ul id="ul_top_hypers">
                <li><a  routerLink="/incident/list"  class="a_top_hypers btn btn-secodery mynavbtn active" (click)="OverOnNavLi($event)"> Incident</a></li>
                <li><a routerLink="/incident/add" class="a_top_hypers btn btn-secodery mynavbtn" (click)="OverOnNavLi($event)"> AddIncident</a></li>
                <li><a routerLink="/user/add" class="a_top_hypers btn btn-secodery mynavbtn" (click)="OverOnNavLi($event)"> AddUser</a></li>
                <li><a routerLink="/user/list"  class="a_top_hypers btn btn-secodery mynavbtn" (click)="OverOnNavLi($event)"> Users</a></li>

               
            </ul>
        </div>
    </div>
    <div class="col-2">
        <div id="div_top_hypers float-right">
            <ul id="ul_top_hypers">
               
                <li><a  class="a_top_hypers btn btn-outline-info " (click)="OverOnNavLi($event)"> logout</a></li>
            </ul>
    </div>
</div>
