<div class="row mynav">
    <div class="col-2">
        <img src="assets/images/IT-Blocks-logo.png" alt="">
    </div>
    <div class="col-8 m-auto">
        <div id="div_top_hypers ">
            <ul id="ul_top_hypers">
                <li><a  routerLink="/company/payment/add"  class="a_top_hypers btn btn-secodery mynavbtn" (click)="OverOnNavLi($event)"> Suppliers</a></li>
                <li><a routerLink="/company/merchant/payments" class="a_top_hypers btn btn-secodery mynavbtn" (click)="OverOnNavLi($event)"> Customers</a></li>
                <li><a  class="a_top_hypers btn btn-secodery mynavbtn" (click)="OverOnNavLi($event)"> Transactions</a></li>
                <li><a  class="a_top_hypers btn btn-secodery mynavbtn" (click)="OverOnNavLi($event)"> Preferences</a></li>
               
            </ul>
        </div>
    </div>
    <div class="col-2">
        <div id="div_top_hypers float-right">
            <ul id="ul_top_hypers">
               
                <li><a  class="a_top_hypers btn btn-outline-info " (click)="OverOnNavLi($event)"> logout</a></li>
            </ul>
    </div>
</div>
