<main id="main" class="main m-auto mycard">
    <div class="card">
        <div class="card-inner p-0">
            <div class="card-head pl-4 pr-4">
                <h5 class="card-title">المدفوعات</h5>
            </div>
            <form action="#" class="pr-4 pl-4 pb-4">
                <div class="row g-4">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label class="form-label" for="full-name-1">الشركات </label>
                            <div class="form-control-wrap ">
                                <div class="form-control-wrap ">
                                    <select class="form-control form-select" placeholder="اختر الشركة" required>
                                        <option value="">اختر الشركة</option>
                                        <option value="fv-gq">General Question</option>
                                        <option value="fv-tq">Tachnical Question</option>
                                        <option value="fv-ab">Account &amp; Billing</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" for="fv-topics">من</label>
                            <input type="date" class="form-control" id="phone-no-1" placeholder="يوم / شهر / سنه">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" for="fv-topics">الي</label>
                            <input type="date" class="form-control" id="phone-no-1" placeholder="يوم / شهر / سنه">
                        </div>
                    </div>
                    <div class="col-12 row justify-content-end">
                        <div class="form-group">
                            <button type="submit" class="btn btn-lg btn-primary">بحث</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
   <div class="card p-4">
    <table class="table table-responsive table-striped w-100">
        <thead>
          <tr>
            <th scope="col">رقم المعاملة</th>
            <th scope="col">تاريخ</th>
            <th scope="col">مدفوع الي</th>
            <th scope="col">الطيار</th>
            <th scope="col">القيمة</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>1</th>
            <td>20/2/2022</td>
            <td>الطيار</td>
            <td>محمد</td>
            <td>500</td>
          </tr>
          <tr>
            <th>2</th>
            <td>10/2/2022</td>
            <td>الطيار</td>
            <td>علي</td>
            <td>200</td>
          </tr>
          <tr>
            <th>3</th>
            <td>7/2/2022</td>
            <td>الطيار</td>
            <td>محمود</td>
            <td>100</td>
          </tr>
        </tbody>
      </table>
   </div>

</main><!-- End #main -->