<div  id="filter">
    <form action="#" class="">
        <div class="row">

            <div class="col-2 m-auto">
               
                       
                        <select class="" placeholder="اختر الشركة" required>
                            <option value="">Supplier</option>
                            <option value="fv-gq">General Question</option>
                            <option value="fv-tq">Tachnical Question</option>
                            <option value="fv-ab">Account &amp; Billing</option>
                        </select>
              
            </div>
            <div class="col-2  m-auto">
              
                       
                        <select class="" placeholder="اختر الشركة" required>
                            <option value="">Customer</option>
                            <option value="fv-gq">General Question</option>
                            <option value="fv-tq">Tachnical Question</option>
                            <option value="fv-ab">Account &amp; Billing</option>
                        </select>
                
            </div>

            <div class="col-2 m-auto">
           

                    <input type="text" class=""  placeholder="DateFrom" onblur="(this.type='text')" onfocus="(this.type='date')">
             
            </div>

            <div class="col-2 m-auto">
 
              
                    <input type="text" class=""  placeholder="DateTo" onblur="(this.type='text')" onfocus="(this.type='date')">
        
            </div>
            <div class="col-2 col-offset-2 m-auto">
     
                    <button type="button"  style="height: 30px;">Search</button>
           
            </div>
        </div>
    </form>
</div>
<div class="data mt-3" id="sco">
    <table datatable [dtOptions]="dtOptions" class="row-border hover  w-100">
        <thead>
            <tr>
                <th class="col">Select<span class="badge badge-number">{{selected}}</span></th>
                <th class="col">TransactionId</th>
                <th class="col">Payment Date</th>
                <th class="col">Customer</th>
                <th class="col">Supplier</th>
                <th class="col">RiderNationalId</th>
                <th class="col">SenderNationalId</th>
                <th class="col">Status</th>
                <th class="col">Amount</th>
                <th class="col">Time</th>
                <th>PaymentType</th>
              </tr>
        </thead>
        <tbody id="sco">
          <tr *ngFor="let post of data" style="height: 15px;font-size: 10px;">
              <td>
                  <input type="checkbox" class="checkrow" (change)="calculateselect($event.target)">
              </td>
            <td>{{ post.id }}</td>
            <td>20-1-2022</td>
            <td>{{ post.to }}</td>
            <td>{{ post.from }}</td>
            <td>{{ post.rider }}</td>
            <td>{{ post.sender }}</td>
            <td>
                <span *ngIf="post.status==1" class="badge badge-warning">Pending</span>
                <span *ngIf="post.status==2" class="badge badge-danger">Canceled</span>
                <span *ngIf="post.status==3" class="badge badge-success">Success</span>
            </td>
            <td>{{ post.amount |currency:"EGP" }}</td>
            <td>20:22:02 AM</td>
            <td>{{post.type}}</td>
          </tr>
        </tbody>
      </table>
</div>

<div  id="filter">
    <form action="#" class="">
        <div class="row pt-1">
            
            
            <div class="col-2  m-auto">
              
                <button type="button"  style="height: 30px;">Done</button>
                
            </div>
            
            <div class="col-2  m-auto">
              
                <button type="button"  style="height: 30px;">Error</button>
                
            </div>
            
            <div class="col-2  m-auto">
              
                <button type="button"  style="height: 30px;">Pending</button>
                
            </div>
            <div class="col-2  m-auto">
              
                <button type="button"  style="height: 30px;">Canceled</button>
                
            </div>


        </div>
    </form>
</div>
