<main id="main" class="main m-auto mycard">
    <div class="card">
        <div class="card-inner p-0">
            <div class="card-head pl-4 pr-4">
                <h5 class="card-title">المدفوعات</h5>
            </div>
            <form action="#" class="pr-4 pl-4 pb-4">
                <div class="row g-1">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <div class="form-control-wrap">
                                <label class="form-label mr-2" for="full-name-1">الشركات </label>
                                <select class="form-control form-select" placeholder="اختر الشركة" required>
                                    <option value="">اختر الشركة</option>
                                    <option value="fv-gq">General Question</option>
                                    <option value="fv-tq">Tachnical Question</option>
                                    <option value="fv-ab">Account &amp; Billing</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <div class="form-control-wrap ">
                                <label class="form-label mr-2" for="full-name-1">المدفوع لها </label>
                                <select class="form-control form-select" placeholder="اختر الشركة" required>
                                    <option value="">اختر الشركة</option>
                                    <option value="fv-gq">General Question</option>
                                    <option value="fv-tq">Tachnical Question</option>
                                    <option value="fv-ab">Account &amp; Billing</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group ">
                            <label class="form-label mr-2" for="fv-topics">من</label>
                            <input type="date" class="form-control" id="phone-no-1" placeholder="يوم / شهر / سنه">
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group ">
                            <label class="form-label mr-2" for="fv-topics">الي</label>
                            <input type="date" class="form-control" id="phone-no-1" placeholder="يوم / شهر / سنه">
                        </div>
                    </div>
                    <div class="col-12 row justify-content-end mt-1">
                        <div class="form-group">
                            <button type="submit" class="btn  btn-primary">بحث</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="p-2">
            <table datatable [dtOptions]="dtOptions" class="row-border hover  w-100">
                <thead>
                    <tr>
                        <th scope="col">رقم المعاملة</th>
                        <th scope="col">تاريخ</th>
                        <th scope="col">مدفوع الي</th>
                        <th scope="col">الطيار</th>
                        <th scope="col">القيمة</th>
                      </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let post of data">
                    <td>{{ post.id }}</td>
                    <td>20-1-2022</td>
                    <td>{{ post.to }}</td>
                    <td>{{ post.rider }}</td>
                    <td>{{ post.amount }}</td>
                  </tr>
                </tbody>
              </table>
            <!-- <table class="table p-3 table-responsive table-striped w-100 datatable-init nowrap nk-tb-list is-separate">
                <thead>
                  <tr>
                    <th scope="col">رقم المعاملة</th>
                    <th scope="col">تاريخ</th>
                    <th scope="col">مدفوع الي</th>
                    <th scope="col">الطيار</th>
                    <th scope="col">القيمة</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>1</th>
                    <td>20/2/2022</td>
                    <td>الطيار</td>
                    <td>محمد احمد</td>
                    <td>500</td>
                  </tr>
                  <tr>
                    <th>2</th>
                    <td>10/2/2022</td>
                    <td>الطيار</td>
                    <td>علي ضياء</td>
                    <td>200</td>
                  </tr>
                  <tr>
                    <th>3</th>
                    <td>7/2/2022</td>
                    <td>الطيار</td>
                    <td>محمود احمد</td>
                    <td>100</td>
                  </tr>
                </tbody>
            </table> -->
        </div>
    </div>
   

</main><!-- End #main -->