<div class="row" dir="rtl">
    <div *ngFor="let item of balancesKeys" class="col-12 mt-3">
        
        <h3 class=" mb-0 mr-2 he" >{{item}}</h3>
        <div class="data">
            <h5 for=""><span class="badge badge-number float-left">{{balances[item].amount|currency:'EGP'}}</span>TotalPayments</h5>
            <h5 for=""><span class="badge badge-number float-left">{{balances[item].count}}</span>Count</h5>
            <h5 for=""><span class="badge badge-number float-left">{{balances[item].worthly|currency:'EGP'}}</span>Financial dues</h5>
        </div>
    </div>
    
    <!-- <div class="col-12">

 
        <div class="data">
            <h5 for="">Current Balance : <span class="badge badge-info float-right">0</span></h5>
            <h5 for="">Today : <span class="badge badge-info float-right">0</span></h5>
            <h5 for="">LastWeek : <span class="badge badge-info float-right">0</span></h5>
            <h5 for="">LastMonth : <span class="badge badge-info float-right">0</span></h5>
        </div>
    </div>
    
    <div class="col-12">

        <div class="data">
            <h5 for="">Pending : <span class="badge badge-warning float-right">0</span></h5>
            <h5 for="">Done : <span class="badge badge-success float-right">0</span></h5>
            <h5 for="">Error : <span class="badge badge-danger float-right">0</span></h5>
            <h5 for="">Canceled : <span class="badge badge-primary float-right">0</span></h5>
          
        </div>
    </div>

    <div class="col-12">
      
        <div class="data">
            <h5 for="">Pending : <span class="badge badge-warning float-right">0</span></h5>
            <h5 for="">Done : <span class="badge badge-success float-right">0</span></h5>
            <h5 for="">Error : <span class="badge badge-danger float-right">0</span></h5>
            <h5 for="">Canceled : <span class="badge badge-primary float-right">0</span></h5>
        </div>
    </div> -->

    </div>
    
    