.data{
    min-height: 100px;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    margin: 5px;
    margin-top: 0px;
    padding: 5px;
    padding-bottom: 0px;

}

.he{
    
    border-radius: 10px 10px 0 0;
    color: black;
    background-color: white;
    border: 0px;
}
.badge{
    color: black;
}