#filter{
    height: 50px;
    background-color: rgb(194, 183, 183);
    margin-top: 5px;
    padding-top: 5px;
    border-radius: 10px;
}
.data
{
  
    margin-top: 10px;
}
#sco{
    min-height: 70vh;
    max-height: 70vh;
}
.wrapper{
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    overflow-y: scroll;
  }
 
  .badge{
    color: black;
}

.even .odd{
    height: 15px;
    font-size: 10px;
}

#transactionId{
    white-space: nowrap;
}