<div  id="filter">
    <form [formGroup]="filter"  (ngSubmit)="getwithsearch()">
        <div class="row">

            <!-- <div class="col-2 m-auto">
               
                       
                        <select class="" placeholder="اختر الشركة" formControlName="supplierId"> required>
                            <option value="">Supplier</option>
                            <option *ngFor="let item of supplierLst" [value]="item.id">{{item.nameAr}}</option>
                            
                        </select>
              
            </div> -->
            <div class="col-2  m-auto">
              
                       
                        <select class="" placeholder="اختر الشركة" formControlName="customerId" required>
                            <option value="">Customer</option>
                            <option *ngFor="let item of companyLst" [value]="item.id">{{item.companyAr}}</option>
                            
                        </select>
                
            </div>
            <div class="col-2 m-auto">
           
                <select  formControlName="statusNum">
                    <option value="">Status</option>
                    <option value="1">Pending</option>
                    <option value="2">Done</option>
                    <option value="3">Canceled</option>
                    <option value="4">Error</option>
                </select>
         
             </div>
            <div class="col-2 m-auto">
           

                    <input type="text" class=""  placeholder="DateFrom" formControlName="from" onblur="(this.type='text')" onfocus="(this.type='date')">
             
            </div>

            <div class="col-2 m-auto">
 
              
                    <input type="text" class=""  placeholder="DateTo" formControlName="to" onblur="(this.type='text')" onfocus="(this.type='date')">
        
            </div>
            <div class="col-2 col-offset-2 m-auto">
     
                    <button type="submit"  style="height: 30px;">Search</button>
           
            </div>
        </div>
    </form>
</div>

<div class="data mt-3" id="sco">
    <table datatable [dtOptions]="dtOptions" class="row-border hover  w-100">
        <thead>
            <tr>
                <th class="col">Select<span class="badge badge-number">{{selected}}</span></th>
                <th class="col">TransactionId</th>
                <th class="col">Payment Date</th>
                <!-- <th class="col">Customer</th> -->
                <th class="col">Supplier</th>
                <th class="col">RiderNationalId</th>
                <th class="col">SenderNationalId</th>
                <th class="col">Status</th>
                <th class="col">Amount</th>
                <!-- <th class="col">Time</th> -->
                <th>PaymentType</th>
              </tr>
        </thead>
        <tbody id="sco">
          <tr *ngFor="let post of data" style="height: 15px;font-size: 10px;">
              <td>
                  <input type="checkbox" class="checkrow" (change)="calculateselect($event.target)">
              </td>
            <td id="transactionId" data-toggle="tooltip" data-placement="top" [title]='post.transactionId'>{{ post.transactionId }}</td>
            <td>{{post.paymentTime|date:'shortDate'}}|{{post.paymentTime|date:'shortTime'}}</td>
            <!-- <td>{{ post.company.companyAr }}</td> -->
            <td>{{ post.userNameEn }}</td>
            <td>{{ post.riderNationalNo }}</td>
            <td>{{ post.senderMobileNo }}</td>
            <td>
                <span *ngIf="post.paymentStatus==1" class="badge badge-warning">Pending</span>
                <span *ngIf="post.paymentStatus==3" class="badge badge-primary">Canceled</span>
                <span *ngIf="post.paymentStatus==4" class="badge badge-danger">Error</span>
                <span *ngIf="post.paymentStatus==2" class="badge badge-success">Success</span> </td>
            <td>{{ post.paymentAmount |currency:"EGP" }}</td>
            <!-- <td>20:22:02 AM</td> -->
            <td>{{post.paymentMethod}}</td>
          </tr>
        </tbody>
      </table>
</div>

<div  id="filter">
    <form action="#" class="">
        <div class="row pt-1">
            
            <div class="col-2  m-auto">
              
                <button type="button" (click)="changeStatus(2)"  style="height: 30px;">Done</button>
                
            </div>
            
            <div class="col-2  m-auto">
              
                <button type="button" (click)="changeStatus(4)"  style="height: 30px;">Error</button>
                
            </div>
            
            <div class="col-2  m-auto">
              
                <button type="button" (click)="changeStatus(1)" style="height: 30px;">Pending</button>
                
            </div>
            <div class="col-2  m-auto">
              
                <button type="button" (click)="changeStatus(3)" style="height: 30px;">Canceled</button>
                
            </div>
        </div>
    </form>
</div>
