
    <main id="main" class="main m-auto mycard">

    <div class="card">
        <div class="card-inner p-0">
            <div class="card-head pl-4 pr-4">
                <h5 class="card-title">المدفوعات</h5>
            </div>
            <form action="#" class="pr-4 pl-4 pb-4">
                <div class="row g-1">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <div class="form-control-wrap">
                                <label class="form-label mr-2" for="full-name-1">الشركات </label>
                                <select class="form-control form-select" placeholder="اختر الشركة" required>
                                    <option value="">اختر الشركة</option>
                                    <option value="fv-gq">General Question</option>
                                    <option value="fv-tq">Tachnical Question</option>
                                    <option value="fv-ab">Account &amp; Billing</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <div class="form-control-wrap ">
                                <label class="form-label mr-2" for="full-name-1">المدفوع منها </label>
                                <select class="form-control form-select" placeholder="اختر الشركة" required>
                                    <option value="">اختر الشركة</option>
                                    <option value="fv-gq">General Question</option>
                                    <option value="fv-tq">Tachnical Question</option>
                                    <option value="fv-ab">Account &amp; Billing</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group ">
                            <label class="form-label mr-2" for="fv-topics">من</label>
                            <input type="date" class="form-control" id="phone-no-1" placeholder="يوم / شهر / سنه">
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group ">
                            <label class="form-label mr-2" for="fv-topics">الي</label>
                            <input type="date" class="form-control" id="phone-no-1" placeholder="يوم / شهر / سنه">
                        </div>
                    </div>
                    <div class="col-12 row justify-content-end mt-1">
                        <div class="form-group">
                            <button type="submit" class="btn  btn-primary">بحث</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="p-1">
            <table datatable [dtOptions]="dtOptions" class="row-border hover  w-100">
                <thead>
                    <tr>
                        <th class="nk-tb-col"><span>رقم العمليه</span></th>
                        <th class="nk-tb-col tb-col-sm"><span>اسم الطيار</span></th>
                        <th class="nk-tb-col"><span>الشركة المحولة</span></th>
                        <th class="nk-tb-col"><span>القيمة</span></th>
                        <th class="nk-tb-col"><span>التاريخ</span></th>
                      </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let post of data">
                    <td>{{ post.rider }}</td>
                    <td>20-1-2022</td>
                    <td>{{ post.from }}</td>
                    <td>{{ post.amount }}</td>
                    <td>20-1-2022</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
 


</main>
