<main id="main" class="main m-auto mycard">

    <table datatable [dtOptions]="dtOptions" class="row-border hover  w-100">
        <thead>
            <tr>
                <th scope="col">رقم المعاملة</th>
                <th class="nk-tb-col tb-col-sm"><span>الشركة</span></th>
                <th class="nk-tb-col"><span>التاريخ</span></th>
                <th class="nk-tb-col"><span>القيمة</span></th>
                <th class="nk-tb-col"><span>اسم المستخدم</span></th>
                <th class="nk-tb-col tb-col-md"><span>الحالة</span></th>
              </tr>
        </thead>
        <tbody>
          <tr *ngFor="let post of data">
            <td>{{ post.id }}</td>
            <td>{{ post.company }}</td>
            <td>20-1-2022</td>
            <td>{{ post.amount }}</td>
            <td>{{ post.user }}</td>
            <td>
                <span *ngIf="post.status==1" class="badge badge-info">
                         انتطار
                </span>
                <span *ngIf="post.status==2" class="badge badge-secondary">
                        تم المراجعه
                </span>
                <span *ngIf="post.status==3" class="badge badge-success">
                        ناجحه
                </span>
            </td>
          </tr>
        </tbody>
      </table>

    <div class="row  justify-content-end mt-2">
        <div>
            <a routerLink="/company/merchant/listtransaction" class="btn btn-lg btn-danger mr-1 ml-1">رجوع</a>
        </div>
    
    </div>

</main>